@using Cassette.Nancy
@{
    Layout = "Shared/_Layout.cshtml";

    Bundles.Reference("Content/css/index.css");
}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h2>
        @Res.Index.LabelHeroHeader
    </h2>
    <p>
        @Res.Index.ParaAboutPhotoCache
    </p>
    <p>
        <a href="@Res.Href.About" class="btn btn-primary btn-large">@Res.Shared.Elements.ButtonLearnMore</a>
    </p>
</div>
