$beigeLight:    #E3DCC0;
$beigeDark:     #DCD2AE;

$logoBlue:      #0079B2;

//Bootstrap variable overrides
$navbarHeight:                  150px;
$navbarBackground:              $beigeDark;
$navbarBackgroundHighlight:     $beigeLight;

$headingsColor:                 $logoBlue;
$headingsFontFamily:            "SansationBold", "Helvetica";