@import "font-face";

$navbarBackground: #00355D;
$navbarBackgroundHighlight: #00223c;
$navbarBrandColor: #DDE4E9;
$navbarText: $navbarBrandColor;

@import "bootstrapper/variables";
@import "bootstrapper/bootstrap";
@import "bootstrapper/responsive";

body { padding-top: 60px; }

.navbar .register-form {
    @extend .span4;
    padding: $gridGutterWidth; 
    padding-bottom: 0px;
    label {
        color: $gray;
    } 
    a {
        padding: 0px;
        color: $linkColor;
    }
}

.brand { font-family: "SansationBold", $baseFontFamily; }