<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.1.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.1.0" targetFramework="net40" />
  <package id="Nancy" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Bootstrappers.Windsor" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.12.1" targetFramework="net40" />
  <package id="Nancy.Viewengines.Razor" version="0.12.1" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net40" />
  <package id="RavenDB.Client" version="1.2.2099-Unstable" targetFramework="net40" />
</packages>