@using Cassette.Nancy
@{
    Bundles.Reference("Content/scripts/libs/jquery-1.7.2.js");
    Bundles.Reference("Content/scripts/libs/");
    Bundles.Reference("Content/scripts/views/testview.js", "body");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>App</title>
    @Bundles.RenderScripts()
</head>

<body>
    @RenderBody()
    
    @Bundles.RenderScripts("body")
</body>
</html>
